@import url("https://fonts.googleapis.com/css2?family=Prata&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

::selection {
  background-color: #222;
  background-color: hsla(9.1, 100%, 63.9%, 0.8);
  /*
  color: hsl(40, 45%, 91%);
  */
}

button.toggle {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
  font-size: 150%;
  background-color: transparent;
  border: 0;
  transition: all 150ms linear;
  cursor: pointer;
  border-radius: 70px;
  height: 60px;
  width: 60px;
  background-color: hsla(39, 7%, 62%, 0.98);
  line-height: 0.9;
}

button.toggle:hover {
  transform: scale(1.1);
  background-color: hsla(39, 7%, 72%, 0.98);
}

/* 

Theme - Light (default)

*/

body {
  background-color: hsl(40, 45%, 91%);
  font-size: 1em;
  padding: 1em;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
  transition: all 150ms linear;
}

p a:hover {
  color: tomato;
}

header,
main,
footer {
  margin: 0 20vw;
}

header {
  font-size: 160%;
  display: flex;
  justify-content: space-between;
}

footer {
  font-size: 90%;
  font-weight: bold;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  color: rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding: 0 1em;
  transition: all 150ms linear;
}

nav ul li:hover {
  color: black;
  transform: translateY(-4px);
}

h1,
h2,
h1 span:nth-child(2) {
  font-family: "Prata", serif;
}

h1,
h2,
h3 {
  user-select: none;
}

h1 {
  font-size: 450%;
  color: tomato;
}

h2 {
  font-size: 350%;
}

h3 {
  font-size: 200%;
  color: tomato;
  font-weight: 100;
}

h1 > span:nth-child(1) {
  display: block;
  color: #222;
  font-weight: normal;
  font-size: 70%;
}

h1 span:nth-child(1) span {
  animation: blink 850ms infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section {
  padding: 8vh 0 40vh;
}

p {
  max-width: 1000px;
  font-size: 150%;
  line-height: 1.8;
  margin-bottom: 1em;
}

p sup {
  font-size: 45%;
  margin-left: 3px;
  color: tomato;
}

/* 

Theme - Night

*/

body.night ::selection {
  background-color: hsla(9.1, 100%, 63.9%, 0.9);
  /*
  color: hsl(40, 45%, 91%);
  */
}

body.night {
  background-color: hsl(216, 18%, 16%);
  color: rgba(255, 255, 255, 0.8);
}

body.night button.toggle {
  background-color: hsla(215, 19%, 6%, 0.98);
}

body.night button.toggle:hover {
  background-color: hsla(215, 19%, 12%, 0.98);
}

body.night nav ul li:hover {
  color: white;
}

body.night .darker {
  color: white;
}

body.night .work-number {
  color: hsl(216, 18%, 13%);
  text-shadow: 0px 2px 0 hsl(216, 18%, 18%), 0px -2px 0 hsl(216, 18%, 10%);
  width: 2em;
  text-align: right;
  padding-right: 0.25em;
}

body.night h1 span:nth-child(1) {
  color: white;
}

body.night h1,
body.night h3 {
  opacity: 0.9;
}

body.night h2 {
  color: white;
}

body.night #self {
  filter: saturate(0.05) opacity(0.3) brightness(1.1) contrast(1.5);
  /*
  filter: saturate(0.01) opacity(0.7) brightness(0.9) contrast(1.7);
  */
}

body.night #about .fab {
  color: rgba(255, 255, 255, 0.4);
}

/*

CLASSES

*/

.small-screen {
  display: inline;
}

.smallest {
  font-size: 75%;
}

.smaller {
  font-size: 110%;
}

.larger {
  font-size: 190%;
  line-height: normal;
}

.largest {
  font-size: 300%;
}

.right {
  text-align: right;
  padding-right: 6em;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.footnotes {
  font-size: 80%;
  margin-bottom: 3em;
}

.footnotes span {
  display: block;
}

.accent {
  color: tomato;
}

.darker {
  color: black;
}

.blackout {
  background-color: #222;
  color: hsl(40, 45%, 91%);
}

.highlight {
  background-color: hsl(59, 100%, 75%);
}

.no-select {
  user-select: none;
}

.info {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.emoji {
  font-size: 60%;
  display: inline-block;
  line-height: 1.8;
}

.icon {
  width: 32px;
}

.em {
  font-size: 75%;
}

.desat {
  filter: saturate(0) contrast(100) opacity(0.75);
}

.desat-minor {
  filter: saturate(0.05) opacity(0.5);
  transition: filter 150ms ease-in;
}

.desat-minor:hover {
  filter: saturate(1) opacity(1);
}

.tags {
  margin-bottom: 0.5em;
}

.tag {
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.separator {
  width: 45%;
  margin: 6em auto 0;
  border-width: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.no-underline {
  text-decoration: none;
}

.grow {
  transform: scale(1);
  transition: transform 150ms linear;
}

.grow:hover {
  transform: scale(1.05);
}

.em-new_moon,
.em-sunny {
  animation: fade 850ms 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*

Section - Title

*/

#title {
  padding-top: 27vh;
  height: 80vh;
}

/*

Section - Works

*/

.work-card {
  /*
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0.5em;
  */
  margin: 6em 0 12em;
  position: relative;
}

.work-card:last-child {
  margin-bottom: 0;
}

.work-preview {
  width: 100%;
  border-radius: 9px;
  margin-top: 2em;
}

.work-number {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -2em;
  font-size: 700%;
  color: hsl(40, 45%, 83%);
  text-shadow: 0px 2px 0 hsl(40, 45%, 97%), 0px -2px 0 hsl(40, 45%, 73%);
  width: 2em;
  text-align: right;
  padding-right: 0.25em;
}

.work-number sup {
  font-size: 50%;
}

/*

Section - About

*/

#about .fab {
  font-size: 400%;
  color: hsla(0, 0%, 13.3%, 0.9);
}

#about ul {
  margin-top: 3em;
  list-style-type: none;
}

#about ul li {
  display: inline-block;
  padding: 0 1em;
}

#self {
  /* #about p img */
  width: 35%;
  max-width: 350px;
  float: right;
  clear: both;
  filter: saturate(0.01) opacity(0.7) brightness(0.9) contrast(1.7);
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 9px;
}

/*

Section - Contact

*/

#contact .largest em {
  display: inline-block;
  padding: 0 9px 0 3px;
}

#contact ul {
  list-style-type: none;
  margin: 2em 0 0 1em;
}

#contact ul li {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
  justify-items: center;
}

#contact ul li span {
  justify-self: left;
}

#contact > p:nth-child(2) {
  margin-top: 1em;
}

#contact > p:last-child {
  margin-top: 2em;
}

.em-wave {
  /*
  animation: wave 1s infinite;
  */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(-6deg);
  }

  45% {
    transform: rotate(3deg);
  }

  65% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(6deg);
  }
}

/*

Responsive

*/

@media only screen and (max-width: 1024px) {
  header,
  main,
  footer {
    margin: 0 10vw;
  }

  .work-number {
    position: relative;
    display: inline;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 400%;
    line-height: 1;
  }
}

@media only screen and (max-width: 768px) {
  header,
  main,
  footer {
    margin: 0 5vw;
  }

  header {
    font-size: 120%;
  }

  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 250%;
  }

  p {
    font-size: 110%;
    line-height: 1.5;
  }

  .larger {
    font-size: 130%;
  }

  #self {
    width: 37%;
  }

  #contact .largest {
    font-size: 180%;
  }

  #contact .largest em {
    display: inline;
  }
}

@media only screen and (max-width: 425px) {
  header,
  main,
  footer {
    margin: 0;
  }

  header {
    flex-direction: column;
  }

  nav ul {
    justify-content: flex-start;
  }

  nav ul li:nth-child(1) {
    padding-left: 0;
  }

  nav ul li:nth-child(3) {
    padding-right: 0;
  }

  #title {
    padding-top: 20vh;
    height: 70vh;
  }

  #self {
    float: none;
    width: 100%;
    border-width: 0;
    box-shadow: none;
    margin: 1em auto;
  }

  .small-screen {
    display: block;
  }

  #contact ul li img {
    width: 30%;
  }
}
