@import url("https://fonts.googleapis.com/css2?family=Prata&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
::selection {
  background-color: #222;
  color: hsl(40, 45%, 91%);
}

body {
  background-color: hsl(40, 45%, 91%);
  font-size: 1em;
  padding: 1em;
  color: #222;
}

a {
  color: inherit;
}

header,
main {
  padding: 0 20vw;
}

header {
  font-size: 160%;
  display: flex;
  justify-content: space-between;
}

header > div {
  font-weight: 900;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding: 0 1em;
}

h1,
h2 {
  font-family: "Prata", serif;
}

h1 {
  font-size: 400%;
  color: tomato;
}

h2 {
  font-size: 350%;
}

section {
  margin: 40vh 0;
}

p {
  max-width: 1000px;
  font-size: 120%;
  line-height: 1.8;
  margin-bottom: 1em;
}

p sup {
  font-size: 50%;
  margin-left: 3px;
  color: tomato;
}

p.larger {
  font-size: 150%;
  line-height: normal;
}

p.smaller {
  font-size: 110%;
  font-style: italic;
}

p.right {
  text-align: right;
  padding-right: 6em;
}

p.center {
  text-align: center;
}

p.bold {
  font-weight: 900;
}

p.italic {
  font-style: italic;
}

p.footnotes {
  font-size: 80%;
  margin-bottom: 3em;
}

p.footnotes span {
  display: block;
}

p.end,
p.tldr {
  font-size: 190%;
  line-height: normal;
}

p.tldr {
  color: tomato;
}

p.end {
  padding: 3em 0;
}
p span.info {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

p span.highlight {
  background-color: hsl(59, 100%, 75%);
}

p span.emoji {
  font-size: 60%;
  display: inline-block;
  line-height: 1.8;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 325%;
  }

  h2 {
    font-size: 250%;
  }

  p {
    font-size: 100%;
  }
}

@media only screen and (max-width: 425px) {
  header {
    flex-direction: column;
    font-size: 120%;
  }

  nav ul {
    justify-content: flex-start;
  }

  nav ul li:nth-child(1) {
    padding-left: 0;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 125%;
  }

  p,
  p.larger {
    font-size: 100%;
  }
}

@media only screen and (max-width: 375px) {
  header > div {
  }

  h1 {
    font-size: 150%;
  }

  h2 {
    font-size: 115%;
  }
}
