@import url("https://fonts.googleapis.com/css2?family=Prata&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

::selection {
  background-color: #222;
  color: hsl(40, 45%, 91%);
}

body {
  background-color: hsl(40, 45%, 91%);
  font-size: 1em;
  padding: 1em;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
main {
  padding: 0 20vw;
}

header {
  font-size: 160%;
  display: flex;
  justify-content: space-between;
}

header > div {
  font-weight: 900;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding: 0 1em;
}

h1,
h2,
h1 * {
  font-family: "Prata", serif;
}

h1 {
  font-size: 450%;
  color: tomato;
}

h2 {
  font-size: 350%;
}

section {
  padding: 10vh 0 40vh;
}

#title {
  padding-top: 35vh;
  height: 80vh;
}

p {
  max-width: 1000px;
  font-size: 150%;
  line-height: 1.8;
  margin-bottom: 1em;
}

p sup {
  font-size: 50%;
  margin-left: 3px;
  color: tomato;
}

.small-screen {
  display: inline;
}

.smaller {
  font-size: 110%;
  font-style: italic;
}

.larger {
  font-size: 200%;
  line-height: normal;
}

.right {
  text-align: right;
  padding-right: 6em;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.footnotes {
  font-size: 80%;
  margin-bottom: 3em;
}

.footnotes span {
  display: block;
}

.accent {
  color: tomato;
}

.no-select {
  user-select: none;
}

.info {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.highlight {
  background-color: hsl(59, 100%, 75%);
}

.fab {
  font-size: 300%;
  color: hsla(0, 0%, 13.3%, 0.4);
}

.emoji {
  font-size: 60%;
  display: inline-block;
  line-height: 1.8;
}

#about .largest {
  padding-top: 2em;
}

#contact .largest {
  font-size: 400%;
  padding-top: 2em;
}

#contact .largest em {
  display: inline-block;
  padding: 0 9px 0 3px;
}

@media only screen and (max-width: 1024px) {
  header,
  main {
    padding: 0 10vw;
  }
}

@media only screen and (max-width: 768px) {
  header,
  main {
    padding: 0 5vw;
  }

  header {
    font-size: 120%;
  }

  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 250%;
  }

  p {
    font-size: 110%;
    line-height: 1.5;
  }

  .larger {
    font-size: 130%;
  }

  #contact .largest {
    font-size: 180%;
  }

  #contact .largest em {
    display: inline;
  }
}

@media only screen and (max-width: 425px) {
  header,
  main {
    padding: 0;
  }

  header {
    flex-direction: column;
  }

  nav ul {
    justify-content: flex-start;
  }

  nav ul li:nth-child(1) {
    padding-left: 0;
  }

  nav ul li:nth-child(3) {
    padding-right: 0;
  }

  #title {
    padding-top: 20vh;
    height: 70vh;
  }

  .small-screen {
    display: block;
  }
}
